.div{
    width: 35%;
    color: aliceblue;
    margin: 0 auto;
    display: block;
}
h1{
    font-size: 48px;
}
button{
    height: 30px;
    width: 60px;
    background-color: magenta;
    cursor: pointer;
}
input{
    width: 50%;
    height: 25px;
}
body{
    background: url("images/books.jpg");
    background-size: cover;
}
